<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="HiwayanConfiguration" type ="Hiwayan.HiwayanCongurationSectionHandler, Hiwayan"/>
  </configSections>
  
  <HiwayanConfiguration>
    <MediaList>
      <Media>
        <Path>path to first video file</Path>
        <Thumbnail>path to first poster thumbnail file</Thumbnail>
      </Media>
      <Media>
        <Path>path to second video file</Path>
        <Thumbnail>path to second poster thumbnail file</Thumbnail>
      </Media>
      <Media>
        <Path>path to n-th video file</Path>
        <Thumbnail>path to n-th poster thumbnail file</Thumbnail>
      </Media>
    </MediaList>
  </HiwayanConfiguration>  
</configuration>